#container {
margin-left: 0;
margin-right:0;
width: 950px;
}
#header {
width: 1860px;
height: 100px;
background-color:grey;
top: 0;
left: 0;

}

#navigation {
	width: 240px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    background-color: #d6d6d6;
	text-align: center;
	height; 1040px
}

#content {
width: 1620px;
margin-left: 240px;
position:absolute;
background-color: blue;
text-align: left;
top:108px;
height:742px;
}

#footer {
width: 1860px;
height: 80px;
background-color: gray;


}

.nav-box {
      flex: 1;
      padding: 20px;
      text-align: center;
      color: white;
      text-decoration: none;
      border: 1px solid #333;
      cursor: pointer;
	  height: 100px;
}


 table {
      width:98%;
	  height: 98%;
      border-collapse: collapse;
      margin: 20px auto;
    }

    th, td {
      border: 1px solid #ddd;
      text-align: center;
    }

    th {
      background-color: #3498db;
      color: #fff;
    }